<div class="vpad--xxxl bg--img" style="background-image: url('{{site.img}}/img.jpg');">
  <div class="container container--xl">
    <div class="text--center text--white">
      <h2 class="title title--xl">Sign up for our service</h2>
      <div class="width width--lg">
        <p class="text--xxl text--normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos dolores laborum illum officia, repudiandae quas deleniti culpa dolorum quae voluptatum!</p>
      </div>
      <div class="space--md"></div>
      <div class="width width--md text--left">
        {% include page/signup-form.html %}
      </div>
    </div>
  </div>
</div>