---
layout: default
---
<div class="bg--img text--white bg--dark" style="background-image: url('{{site.img}}/img.jpg'); height: 100%">
  <div class="site-header__offset"></div>
  <div class="row row--valign-center" style="height: 100%">
    <div class="col">
      <div class="text--center">
        <div class="title title--xxl">competition content</div>
        <div class="space--sm"></div>
        <div class="title title--xs">tbc...</div>
      </div>
    </div>
  </div>
  <div class="site-nav__offset"></div>
</div>